/**
* @name CompactButtons
* @version 1.0
* @description Makes sidebar buttons more... compact (duh?)
* @author krammeth (original by cea.api)
* @website https://github.com/Krammeth
*/

._99e7cad8d4c55236-scroller[data-list-id^="private-channels-uid_"] {
  scrollbar-width: 0;
  scrollbar-color: transparent;
  >.d125d22cdfd32cfe-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-evenly;
    >div:not([class]):first-child,
    >div[role="button"],
    >._99e7cad8d4c55236-privateChannelsHeaderContainer,
    >._972a0d22c8afa7f0-channel._972a0d22c8afa7f0-dm {
      width: 100%;
    }
    >.e6b7699ce8339e1c-friendsButtonContainer,
    >div:nth-of-type(3),
    >._972a0d22c8afa7f0-channel:not(._972a0d22c8afa7f0-dm),
    >._553bf02027ac2419-wrapper {
      margin: 0;
    }
    ._972a0d22c8afa7f0-channel:not(._972a0d22c8afa7f0-dm) {
      margin: 0 4px !important;
      >._972a0d22c8afa7f0-linkButton >._972a0d22c8afa7f0-link {
        padding: 6px;
        justify-content: center;
        >._972a0d22c8afa7f0-avatarWithText {
          padding: 0;
          >._20a53846fe2e8513-avatar {
            margin: 0;
          }
          >._20a53846fe2e8513-content {
            display: none;
          }
        }
        >._2b1f52e43a8f1c02-numberBadge {
          position: absolute;
          left: 17.5px;
          bottom: 0;
          transform: scale(0.7);
        }
        >._4ed1af9a212b8f4f-newBadge {
          position: absolute;
          bottom: 0;
          transform: scale(0.7);
        }
      }
    }
  }
}