[class^=bar__]:has([class^=voiceChannelsIcon__]), /* idk */
[class^="voiceChannelsButton__"], /* idk either */
[class^=giftButtonContainer__], /* DMs gift button */
[class^="recentsIcon__"]:not(:has([class^="iconBadge_"])), /* inbox (unless notifs) */ 
button[aria-label="Open GIF picker"], /* [GIF] in chatbar */
button[aria-label="Open sticker picker"], /* [Sticker] in chatbar */
[class^=wumpusWrapper], /* new to discord */
[class*="pencilContainer_"], /* pencil on banner */
[class*="popoutBannerPremium__"] [class*="gifTag__"], /* [gif] on banner */
button[aria-label="Focus"], /* [Focus] in VCs */
button[aria-label="Grid"], /* [Grid] in VCs */
button[aria-label="Invite"], /* [Invite] in VCs */
[class^="iconItem__"]:not([aria-label="Open Chat"]) { /* invite & settings button on channels */
  display: none !important;
}

/* No Super Reaction Popup and Effects */
[class^="reaction_"][style*="background"] {
  pointer-events: none;
}
[class^=reaction_] {
  animation: none !important;
}
[class^=burstGlow__],
[class^=effectsWrapper__] {
  display: none !important;
}
[class^=reactionCount_] {
  color: var(--interactive-normal) !important;
}
[class^=hideEmoji__] {
  opacity: 1 !important;
}

[class^="iconItem__"]:hover [class^="actionIcon_"] { /* Open Chat */
  color: var(--main-color)
}
