/**
 * @name PRAddon (Status Bar)
 * @author Krammeth
 * @version 1.1
*/


.root__24502.root__49fc1.small__49fc1 > .outer_c0bea0 > .inner_c0bea0 {
  > header > .headerInner__24502 {
    @container style(--status-enabled:true) {
      > .addCustomStatusButtonBubble_af9888, /* custom status */
      > .container_ab8609 {
        position: absolute !important;
        top: unset !important;
        left: unset !important;
        bottom: 0 !important;
        right: 0 !important;
        z-index: 2 !important;
        display: flex !important;
        justify-content: center !important;
        align-content: center !important;
        flex-wrap: wrap !important;
        flex-direction: row !important;
        width: 50% !important;
        height: unset !important;
        padding: 10px !important;
        backdrop-filter: blur(15px) !important;
        box-sizing: border-box !important;
        border-bottom-right-radius: 8px !important;
        border-top-left-radius: 8px !important;

        > .outer_ab8609 {
          border: none !important;
          box-shadow: none !important;
          background: transparent !important;
          min-width: unset !important;
          max-width: unset !important;
          overflow: unset !important;

          &::before,
          &::after {
            display: none !important;
          }

          > .inner_ab8609 {
            padding: 0 !important;
            background: transparent !important;

            > .content_ab8609 { /* actual text */
              text-align: center !important;
            }
          }
        }

        > .statusPopover__2d0ab { /* who would even want to react to a status? */
          display: none !important;
        }
          
        > .wrapper_f7ecac { /* edit/clear status */
          background: color-mix(in srgb,
            var(--profile-gradient-primary-color) 10%,
            var(--profile-gradient-secondary-color) 90%
          ) !important;
        }
      }
    }
  }

  > .body__24502 .scroller_fcb628 .section_bf424d {
    @container style(--show-notes:true) {
      &:nth-last-of-type(1) { /* fix notes bottom margin */
        margin-bottom: 50px;
      }
    }
      
    @container style(--show-notes:false) {
      &:nth-last-of-type(2) { /* fix connections bottom margin */
        margin-bottom: 50px;
      }
    }
  }
}