/**
 * @name PRAddon (Role Pills)
 * @author Krammeth
 * @version 1.0
*/

.root__24502.root__49fc1.small__49fc1 > .outer_c0bea0 > .inner_c0bea0 {
  > .body__24502 > .container_d1d9f3 > .scroller_fcb628 .section_bf424d > .root_af8192 { /* roles */
    @container style(--rolepills:true) {
      > .role_dfa8b6 { 
        overflow: hidden;

        > .roleRemoveButton_dfa8b6,
        > div > .roleRemoveButton_dfa8b6 {
          > .roleCircle__4f569 {
            position: relative;
            box-shadow: 0px 0px 3px black;
            transform-style: preserve-3d;

            &::after {
              position: absolute;
              left: -10px;
              overflow: visible;
              background: inherit;
              filter: brightness(.7);
              content: "";
              width: 400px;
              height: 24px;
              transform: translateZ(-1px);
            }
          }
        }

        > span, /* role icon */
        > .roleName_dfa8b6 { /* role name */
          -webkit-filter: drop-shadow(0px 0px 2px black);
        }
      }
    }
  }
}