/* directly from Couve */
:root .userPopoutOuter_d739b2 .userPopoutOverlayBackground_d8afa4 .activity__20c1e {
  z-index: 1;
}
:root .userPopoutOuter_d739b2 .userPopoutOverlayBackground_d8afa4 .activity__20c1e .assetsLargeImageSpotify__06348 {
  border-radius: 8px !important;
  margin-left: 6px;
}
:root .userPopoutOuter_d739b2 .userPopoutOverlayBackground_d8afa4 .activity__20c1e .content_d7cb7f {
  margin-right: 8px;
}
:root .userPopoutOuter_d739b2 .userPopoutOverlayBackground_d8afa4 .activity__20c1e .button__9491f {
  background-color: var(--main-color);
  opacity: 1;
}
:root .userPopoutOuter_d739b2 .userPopoutOverlayBackground_d8afa4 .activity__20c1e .platformIcon__05c5e {
  display: none;
}
:root .userPopoutOuter_d739b2 .userPopoutOverlayBackground_d8afa4 .activity__20c1e .timeBarUserPopoutV2_c5b927 {
  position: absolute;
  top: 7px;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 70px;
  border-radius: 8px;
}
:root .userPopoutOuter_d739b2 .userPopoutOverlayBackground_d8afa4 .activity__20c1e .timeBarUserPopoutV2_c5b927 .bar_e63719 {
  border-radius: 8px;
  height: 100%;
  background-color: hsl(var(--primary-500-hsl)/.16)
}
:root .userPopoutOuter_d739b2 .userPopoutOverlayBackground_d8afa4 .activity__20c1e .timeBarUserPopoutV2_c5b927 .barInner_d1abc6 {
  border-radius: 8px 0 0 8px;
  opacity: 0.2;
  background-color: var(--text-normal)
}
:root .userPopoutOuter_d739b2 .userPopoutOverlayBackground_d8afa4 .activity__20c1e .timeBarUserPopoutV2_c5b927 > :last-child {
  display: none;
}
:root .userPanelOuter__880e5 .userPanelOverlayBackground__34fc8:nth-child(2) .activity__20c1e {
  z-index: 1;
}
:root .userPanelOuter__880e5 .userPanelOverlayBackground__34fc8:nth-child(2) .activity__20c1e .assetsLargeImageSpotify__06348 {
  border-radius: 8px !important;
  margin-left: 6px;
}
:root .userPanelOuter__880e5 .userPanelOverlayBackground__34fc8:nth-child(2) .activity__20c1e .content_d7cb7f {
  margin-right: 8px;
}
:root .userPanelOuter__880e5 .userPanelOverlayBackground__34fc8:nth-child(2) .activity__20c1e .button__9491f {
  background-color: var(--main-color);
  opacity: 1;
}
:root .userPanelOuter__880e5 .userPanelOverlayBackground__34fc8:nth-child(2) .activity__20c1e .platformIcon__05c5e {
  display: none;
}
:root .userPanelOuter__880e5 .userPanelOverlayBackground__34fc8:nth-child(2) .activity__20c1e .timeBarUserPopoutV2_c5b927 {
  position: absolute;
  top: 7px;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 70px;
  border-radius: 8px;
}
:root .userPanelOuter__880e5 .userPanelOverlayBackground__34fc8:nth-child(2) .activity__20c1e .timeBarUserPopoutV2_c5b927 .bar_e63719 {
  border-radius: 8px;
  height: 100%;
}
:root .userPanelOuter__880e5 .userPanelOverlayBackground__34fc8:nth-child(2) .activity__20c1e .timeBarUserPopoutV2_c5b927 .barInner_d1abc6 {
  border-radius: 8px 0 0 8px;
  opacity: 0.2;
}
:root .userPanelOuter__880e5 .userPanelOverlayBackground__34fc8:nth-child(2) .activity__20c1e .timeBarUserPopoutV2_c5b927 > :last-child {
  display: none;
}

/* Spotify Activity */
[class^="activityUserPopoutV2__"]:has([class^=timeBarUserPopoutV2_]) .contentImagesUserPopoutV2__04250 {
  margin-left: 22px;
}
[class^="activityUserPopoutV2__"]:has([class^=timeBarUserPopoutV2_]) .contentImagesUserPopoutV2__04250 > div:first-child::before,
[class^="activityUserPopoutV2__"]:has([class^=timeBarUserPopoutV2_]) .contentImagesUserPopoutV2__04250 > div:nth-child(2)::before,
[class^="activityUserPopoutV2__"]:has([class^=timeBarUserPopoutV2_]) .contentImagesUserPopoutV2__04250 > div:nth-child(3)::before,
#vc-spotify-titles > div:first-child::before,
#vc-spotify-titles > div:nth-child(2)::before,
#vc-spotify-titles > div:nth-child(3)::before {
  padding: 7px;
  margin-left: -17px;
  margin-top: 2px;
  position: absolute;
}
[class^="activityUserPopoutV2__"]:has([class^=timeBarUserPopoutV2_]) .contentImagesUserPopoutV2__04250 > div:first-child::before {
  content: "🎵";
  margin-top: -6px;
  left: 77px;
}
[class^="activityUserPopoutV2__"]:has([class^=timeBarUserPopoutV2_]) .contentImagesUserPopoutV2__04250 > div:nth-child(2)::before {
  content: "🎤";
  margin-top: -6px;
  left: 77px;
}
[class^="activityUserPopoutV2__"]:has([class^=timeBarUserPopoutV2_]) .contentImagesUserPopoutV2__04250 > div:nth-child(3)::before {
  content: "💿";
  margin-top: -6px;
  left: 77px;
}
[class^="activityUserPopoutV2__"]:has([class^=timeBarUserPopoutV2_]) .contentImagesUserPopoutV2__04250 {
  margin-top: 3px; /* fix details being horizontally misaligned */
}
[class^=activity] [class*=buttonsWrapper_]:has([class^=disabledButtonWrapper__]) { /* hide your listen along */
  display: none !important;
}
[class^="detailsWrap__"] { /* Fix Author Overflow */
 white-space: nowrap;
 overflow: hidden;
 text-overflow: ellipsis;
}
[class*="assetsLargeImage"] {
  border-radius: 10px !important;
  max-width: 60px;
}

/* Spotify Controls */
#vc-spotify-titles { 
  margin-left: 15px; 
}
#vc-spotify-titles > div:first-child::before {
  content: "🎵";
  margin-top: -6px;
  left: 65.5px;
}
#vc-spotify-titles > div:nth-child(2)::before {
  content: "🎤";
  margin-top: -6px;
  left: 65.5px;
}
#vc-spotify-titles > div:nth-child(3)::before {
  content: "💿";
  margin-top: -6px;
  left: 65.5px;
}
#vc-spotify-album-image {
  border-radius: 10px;
  max-width: 43.2px; /* prevent larger covers from breaking stuff */
}
#vc-spotify-album-expanded-wrapper #vc-spotify-album-image {
  max-width: initial !important;
}
[class*=vc-spotify-shuffle-on] > svg, 
[class*=vc-spotify-repeat-context] > svg,
[class*=vc-spotify-repeat-track] > svg {
  fill: var(--main-color)
}
