/**
* @name StatusHider
* @version 1.4
* @description Hides one or more selected users' status, edit @ lines 9, 63 & 70
* @author @Krammeth
* @website https://github.com/Krammeth
*/

[src*="ID"] {
  ._44b0c28be7879b7b-wrapper>._44b0c28be7879b7b-mask>foreignObject>._44b0c28be7879b7b-avatarStack>&._44b0c28be7879b7b-avatar {

    /* memberlist */
    ._5d473ecff348c314-memberInner:has(> ._91a9d7f7e5248a56-avatar &)>._91a9d7f7e5248a56-content>._91a9d7f7e5248a56-subText,
    /* DMs list */
    ._20a53846fe2e8513-layout:has(> ._20a53846fe2e8513-avatar &)>._20a53846fe2e8513-content>._20a53846fe2e8513-subText {
      display: none;
    }

    /* small popout */
    .c0bea05627c5dc35-inner>._5be3ef42f92174b2-header:has(> ._75742e4cc9019aeb-avatar &) {

      /* custom status */
      & .ab86098b36386ff7-referenceContainer {
        display: none;
      }
    }

    .c0bea05627c5dc35-inner:has(> ._5be3ef42f92174b2-header > ._75742e4cc9019aeb-avatar &) {

      /* activity section */
      &>._5be3ef42f92174b2-body>section[aria-labelledby^="uid_"] {
        display: none;
      }
    }

    /* big popout */
    .c0bea05627c5dc35-inner:has(> ._9c3bea41fd465666-profile > ._9c3bea41fd465666-profileHeader > ._75742e4cc9019aeb-avatar &)>._37bfcf3d457db7a9-container {

      /* tab element */
      >._37bfcf3d457db7a9-tabListScroller>.aa8da23faa27393c-top>._37bfcf3d457db7a9-tabBarItem[data-tab-id="ACTIVITY"],
      /* activity tab */
      >._37bfcf3d457db7a9-tabBarPanel[id="activity-tab"] {
        display: none;
      }
    }

    /* active now tab */
    ._7e549558f336cddb-itemCard:has(div:not([class]) > ._00943886e1cf89d1-headerFull &)>div:not([class]) {

      /* activity name */
      &>._00943886e1cf89d1-headerFull div:not([class])>.text-sm\/normal_cf4812,
      /* activity icon */
      &>._00943886e1cf89d1-headerFull>._00943886e1cf89d1-headerIcon,
      /* channel container */
      &>._00943886e1cf89d1-body {
        display: none;
      }
    }
  }
}

/* friends list */
[data-list-item-id$="ID"] {
  &.cc61794aab086a2e-peopleListItem>.fc004c9c041aaefa-listItemContents>._0a06ed6ea040aa1b-userInfo>._0a06ed6ea040aa1b-text>.sub_0a06ed6ea040aa1b-text {
    display: none;
  }
}

/* DMs right panel */
[aria-labelledby$="ID"] {
  aside&>.c0bea05627c5dc35-outer>.c0bea05627c5dc35-inner>.d125d22cdfd32cfe-scrollerBase>.b32ca49f97332e1b-body>section[aria-labelledby^="uid_"] {
    display: none;
  }
}